
/* 
    Created on : 24-mar-2014, 20:59:50
    Author     : Mitosu
    Name: Miguel Angel Torres 
*/

body{
    background-color: #363636;
    font-family: Tahoma;
    font-size: 12px;
}

#contenido{
    background-color: #ffffff;
    max-width: 980px;
}

#text-zona-clientes{
    color: #7EB7FE;
    font-family: serif;
    font-size: large;
}

.menu_top{
    font-family: Tahoma;
    font-size: 12px;
}

.image_aling_text{
    float: left;
    margin-right: 5px;
}

.col-md-8 p{
    text-align: justify;
}

.col-md-4 p{
    text-align: justify;
}

#footer_web{
    background-color: #2F6EB9;
    color: #ffffff;
}

.links_footer a:link{
    color: #ffffff;
}

.redes_sociales img{
    width: 30px;
    height: 30px;
}

.servicios_img{
    font-family: Tahoma;
    font-size: 12px;
}

.titulo_menu_destinos{
    font-family: Tahoma;
    font-size: 13px;
    font-weight: bold;
}

.boletin{
    font-family: Tahoma;
    font-size: 11px;
}