
/* 
    Created on : 24-mar-2014, 20:59:50
    Author     : Mitosu
    Name: Miguel Angel Torres 
*/

body{
    background-color: #363636;
    font-family: Tahoma;
    font-size: 11px;
}

#contenido{
    background-color: #ffffff;
    max-width: 980px;
}

#text-zona-clientes{
    color: #7EB7FE;
    font-family: serif;
    font-size: large;
}

.image_aling_text{
    float: left;
    margin-right: 5px;
}

.col-md-8 p{
    text-align: justify;
}

.col-md-4 p{
    text-align: justify;
}
